<h1>Let the battle begin!</h1>
<h2>Enter your name to start the game</h2>
<form action='/names' method="post">
  <label for="p1_name">
  Player 1 name
  <input type="text" name="p1_name">
  <br>
  <label for="p2_name">
  Player 2 name
  <input type="text" name="p2_name">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>